$grid-header-background-color : dynamic(#F0FFF0);
$grid-row-cell-border-color : dynamic(transparent);
$panel-body-background-color : dynamic(#4682B4);
$grid-row-cell-background-color : dynamic(#FFFAFA);
$grid-row-cell-alt-background-color : dynamic(#FFEFD5);
