@include extjs-panel-ui (
	$ui:'highlight-framed',
	$ui-header-background-color:#FF6347,
	$ui-border-color:#FF6347,
	$ui-header-border-color:#FF6347,
	$ui-body-border-color:#FF6347,
	$ui-header-color:white
);
